@import "../../styles/variaveis";

.header {
    position: relative;
    padding: 0.5rem 3.6rem;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: center;
    color: $cor-do-texto;
    background: rgba($color: $roxo-muito-escuro, $alpha: 0.9);
    z-index: 2;

    h1 {
        font-family: $font-padrao;
        font-size: 3.8rem;
    }

    img {
        max-width: 60px;
        height: 58px;
        justify-self: center;
    }

    nav {
        display: flex;
        align-items: center;
        justify-self: end;

        :not(:last-child) {
            margin-right: 3rem;
        }
    }

    .TextField {
        color: #fff;
    }
}